.nav{
    width: 100%;
    height: 80px;
    box-shadow: 2px 4px 6px #F6F6F6;
  } 
  .navson{
      width: 1200px;
      height: 100%;
      margin: 0 auto;
      display: flex;
  }
  .logo{
      width: 100px;
      height: 50px;
      margin: auto 0;
  }
  .logo img{
      width: 100%;
      height: 100%;
  }
  .global{
      height: 25px;
      margin: auto 0;
      margin-left: 50px;
      display: flex;
      position: relative;
  }
  .globalt {
      display: flex;
      height: 25px;
  }
  .gbox {
     width: 500px;
     height: 450px;
     display: flex;
     flex-direction: column;
     justify-content: center;
      align-items: center;
      position: absolute;
    top:25px;
      left: -215px;
      z-index: 6;
      display: none;
  }
  .gboxt {
    width: 0;
    height: 0;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent blue;
  }
  .gboxb {
    width: 500px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
     background-color: blue;
  }
  .gboxbt {
    width: 500px;
    height: 80px;
    display: flex;
  }
  .gboxbb {
    width: 500px;
    height: 270px;
    display: flex;
}
.gboxbl {
    width: 100px;
    height: 80px;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
}
.gboxblbig {
    width: 100px;
    height: 270px;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
}
.gboxr {
    width: 390px;
    height: 80px;
    display: flex;
    flex: 0,0,auto;
}
.gboxbr {
    display: flex;
    flex-wrap: wrap;
    flex: 0,0,auto;
}
.gboxbr div {
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 18px;
    

}
.gboxbrbig {
    width: 390px;
    height: 270px;
    display: flex;
    flex-wrap: wrap;
    flex: 0,0,auto;
}
.gboxbrbig div {
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 18px;

}
  .position{
      width: 18px;
      height: 18px;
      margin: auto 0;
  }
  .position img{
    width: 100%;
    height: 18px;
}
.text{
    margin: auto 0;
    font-size: 15px;
}
.downarrow{
    width: 12px;
    height: 10px;
    margin: auto 0;
    margin-left: 3px;
}
.navbar{
    display: flex;
    margin: auto 0;
    margin-left: 40px;
}
.index{
    color: #FF1268;
}
.classify{
    margin-left: 20px;
}
.classify:hover{
    color: #FF1268;
}
.search{
    margin: auto 0;
    margin-left: 170px;
    position: relative;
    display: flex;
}
.input{
    width: 300px;
    height: 48px;
    border-radius: 30px 0 0 30px;
    box-sizing: border-box;
    padding-left: 50px;
    outline: none;
    background: #F8F8F8;
}

input::-webkit-input-placeholder {
    font-size: 15px;
}

input:focus{
    border: 1px solid #FF1268;
}
.searchimg{
    position: absolute;
    left: 20px;
    top: 15px;
    width: 20px;
    height: 20px;
}
.inputnext{
    width: 80px;
    height: 48px;
    background-color: #FF1268;
    border-radius: 0 30px 30px 0;
    color: white;
    text-align: center;
    line-height: 50px;
}

.loginbox{
    height:30px;
    margin: auto 0;
    margin-left: 47px;
    display: flex;
}
.downbox{
    height:30px;
    margin: auto 0;
    margin-left: 20px;
    display: flex;
}
.loginimg{
    width: 30px;
    height: 30px;
}
.logintext{
   line-height: 30px;
   margin-left: 5px;
}
.logintext:hover{
    color: #FF1268;
}
