.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all {
    width: 1200px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.left {
    width: 880px;
    display: flex;
    flex-direction: column;
}
.leftb {
    width: 880px;
    display: flex;
    flex-direction: column;
}
.leftbt {
    width: 880px;
    display: flex;
}
.leftbtb {
    height: 40px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    margin-left: 15px;
}
.leftbb {
    width: 880px;
    border: 1px solid #EBEBEB;
}
.right {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rightb {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rightbt {
    width: 320px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}
.rightb {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:0,0,auto;
}
.mytext{
    font-size: 18px;
    color: black;
    margin-top: 50px;
    margin-left: 20px;
}
.line{
    width: 800px;
    height: 1px;
    background-color: #E2E2E2;
    margin-left: 20px;
    margin-top: 10px;
}
.mytext1{
    color: #4A4A4A;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 700;
}
.mytext2{
    color:#4A4A4A;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
.img1{
    width: 600px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.img2{
    width: 600px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.textg{
    color: #999999;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 20px;
}
.textgs{
    color: #4A4A4A;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 10px;
}